@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
}

::-webkit-scrollbar {
  width: 5px;
  background: #f5f5f5;
}

/* This will change the color of the scroll thumb (the part you drag) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2.5px;
}

/* This will change the color of the scroll thumb when you hover over it */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* This will add a smooth transition effect when you hover over the scroll thumb */
::-webkit-scrollbar-thumb {
  transition: background 0.3s ease-in-out;
}
